<!DOCTYPE html>
<html>
<title>Portfolio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#about" class="w3-bar-item w3-button"><b>Ashwin Kumar</b><b> IGBC AP</b></a>

    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Projects</a>
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Projects</h3>
  </div>


	<!-- Projects main -->
<div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div  class="w3-display-topleft w3-black w3-padding">Python</div>
        <img src="/static/Python.jpg" alt="Python Projects" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Dynamo</div>
        <img src="/static/Dynamo.jpg" alt="Dynamo Projects" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Revit</div>
        <img src="/static/Revit.jpg" alt="Revit Plugin Projects" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">ArchViz</div>
        <img src="/static/3DsMax.jpg" alt="ArchViz Projects" style="width:100%">
      </div>
    </div>
  </div>



  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>A Civil Engineer with National and International project experience in Architectural Design, BIM and Structural practices.having worked on projects from the initial Architectural Conceptualization stage to Structural Detailing and Precast Fabrication stage. Interested in the Software side of BIM, Programming (Python & C#) & Automation. Currently I specialize in Revit, 3DsMax, AutoCAD, Navisworks, Dynamo and have worked with other Technologies like Unity3D, I’m also an accredited Sustainability Professional (IGBC AP).
    </p>
  </div>


</div>
</div>

</div>



<!-- Footer -->
<footer class="w3-center w3-bottom w3-black w3-padding-small" id="footer">
  <p><a href="https://www.linkedin.com/in/ashwinkumarp/" title="Linkedin" target="_blank" class="w3-hover-shadow">Linkedin</a></p>
</footer>

</body>
</html>
